<aside>
  <div class="aside-wrapper">
    <div class="header-wrapper">
      <img src="https://scholar.googleusercontent.com/citations?view_op=view_photo&user=DsEfSZcAAAAJ" />
      <h2>About me</h2>
    </div>
    <p>
      Hi, I'm Vivian Tsai.
    </p>
    <ul class="chips">
      <a href="https://viviantsai.com" rel="nofollow">
        <li>Website</li>
      </a>
      <a href="https://scholar.google.com/citations?user=DsEfSZcAAAAJ" rel="nofollow">
        <li>Google Scholar</li>
      </a>
    </ul>
  </div>
  <div class="aside-wrapper">
    <h2>2017</h2>
    <ul class="chips">
      <a href="{{ "2017" | relative_url }}"><li>Overview</li></a>
      <a href="{{ "2017/00" | relative_url }}"><li>Week 0</li></a>
      <a href="{{ "2017/01" | relative_url }}"><li>Week 1</li></a>
      <a href="{{ "2017/02" | relative_url }}"><li>Week 2</li></a>
      <a href="{{ "2017/03" | relative_url }}"><li>Week 3</li></a>
      <a href="{{ "2017/04" | relative_url }}"><li>Week 4</li></a>
      <a href="{{ "2017/05" | relative_url }}"><li>Week 5</li></a>
      <a href="{{ "2017/06" | relative_url }}"><li>Week 6</li></a>
      <a href="{{ "2017/07" | relative_url }}"><li>Week 7</li></a>
      <a href="{{ "2017/08" | relative_url }}"><li>Week 8</li></a>
      <a href="{{ "2017/09" | relative_url }}"><li>Week 9</li></a>
      <a href="{{ "2017/10" | relative_url }}"><li>Week 10</li></a>
      <a href="{{ "2017/11" | relative_url }}"><li>Week 11</li></a>
      <a href="{{ "2017/12" | relative_url }}"><li>Week 12</li></a>
      <a href="{{ "2017/13" | relative_url }}"><li>Week 13</li></a>
      <a href="{{ "2017/14" | relative_url }}"><li>Week 14</li></a>
    </ul>
  </div>
  <div class="aside-wrapper">
    <h2>2018</h2>
    <ul class="chips">
      <a href="{{ "2018" | relative_url }}"><li>Overview</li></a>
      <a href="{{ "2018/01" | relative_url }}"><li>Week 1</li></a>
      <a href="{{ "2018/02" | relative_url }}"><li>Week 2</li></a>
      <a href="{{ "2018/03" | relative_url }}"><li>Week 3</li></a>
      <a href="{{ "2018/04" | relative_url }}"><li>Week 4</li></a>
      <a href="{{ "2018/05" | relative_url }}"><li>Week 5</li></a>
      <a href="{{ "2018/06" | relative_url }}"><li>Week 6</li></a>
      <a href="{{ "2018/07" | relative_url }}"><li>Week 7</li></a>
      <a href="{{ "2018/08" | relative_url }}"><li>Week 8</li></a>
      <a href="{{ "2018/09" | relative_url }}"><li>Week 9</li></a>
      <a href="{{ "2018/10" | relative_url }}"><li>Week 10</li></a>
      <a href="{{ "2018/11" | relative_url }}"><li>Week 11</li></a>
      <a href="{{ "2018/12" | relative_url }}"><li>Week 12</li></a>
    </ul>
  </div>
</aside>
