a,abbr,acronym,address,applet,article,aside,audio,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  color: #111;
  background: #f8f8f8;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 24px;
  font-weight: 300;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header, main, footer {
  width: 900px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 100%;
  overflow-x: hidden;
}
header {
  padding-top: 20px;
  padding-bottom: 20px;
  position: fixed;
  background: #f8f8f8;
  color: #de5833;
  border-bottom: 2px solid #f5cbbf;
}
nav {
  display: flex;
  align-items: center;
  line-height: 20px;

  ul {
    display: flex;
    padding: 0;
    margin: 0 0 0 5px;
    height: 20px;
    font-size: 13px;
  }
  li:before {
    content: "/";
    padding-right: 5px;
  }
  li {
    list-style-type: none;
    padding: 0;
    margin: 0 5px 0 0;
  }
}
h1 {
  font-size: 30px;
  line-height: 40px;
  color: #222;
  margin-bottom: 10px;
}
h2 {
  font-size: 22px;
  line-height: 30px;
  font-weight: 400;
  margin-bottom: 10px;
  color: #222;
}
h3 {
  font-weight: bold;
}
header a {
  text-decoration: none;
  border: none;
}
header a:hover {
  color: #f5cbbf;
}
a {
  color: #de5833;
  text-decoration: none;
  border-bottom: 1px solid;
}
b, strong {
  font-weight: 400;
}
i, em {
  font-style: italic;
}
p {
  padding-bottom: 20px;
}
p:last-of-type {
  padding: 0;
}
p > span,
li > span {
  font-weight: bold;
  color: #333;
  text-transform: lowercase;
  padding: 0 5px 0 5px;
  margin-right: 5px;
  border: 1px solid;
}
small {
  font-size: 13px;
  font-style: italic;
}
ul, ol {
  margin-top: 20px;
  padding-left: 20px;
}
li {
  padding-bottom: 20px;
}
ul.chips {
  padding: 0;
  margin-top: 10px;
}
.chips {
  li {
    display: inline-block;
    margin-right: 2px;
    margin-bottom: 5px;
    padding: 5px 5px 2px 5px;
    border-radius: 10px;
    border: 1px solid #f5cbbf;
    color: #f5cbbf;
    line-height: 14px;
    font-size: 12px;
    font-weight: 500;
  }
  a {
  border: none;
  }
  a li {
    color: #de5833;
  }
  a:focus li,
  a:hover li {
    background: #f5cbbf;
  }
}
img {
  width: 30px;
  height: 30px;
  border-radius: 10px;
  margin-right: 10px;
}
main {
  overflow: auto;
  display: flex;
  padding-top: 64px;
}
article {
  margin-top: 40px;
  margin-bottom: 40px;
  display: block;
  width: 100%;
}
aside {
  margin: 40px 0 20px 40px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  width: 360px;
  overflow-x: hidden;
}
@media screen and (max-width: 600px) {
  main {
    display: block;
  }
  aside {
    border-top: 1px solid #eee;
    padding: 40px 0 0 0;
    margin-left: 0;
    width: 100%;
  }
}
footer {
  color: #888;
  margin-top: auto;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 10px;
}
footer a {
  color: #888;
}
@media screen and (max-width: 800px) {
  section {
    width: 80%;
  }
}
.aside-wrapper {
  margin-bottom: 20px;
}
.header-wrapper {
  display: flex;
  height: 40px;
  align-items: center;
  margin-bottom: 10px;

  h1, h2, h3 {
    margin: 0;
  }
}
